<h1><%= @league.name %></h1>
<p>Manager: <%= @league.manager.name %></p>
<% if @league.draft.present? %>
  <p>Draft Date: <%= @league.draft.starts_at.strftime('%c') %></p>
  <p>Status: <%= @league.draft.status.humanize %></p>
<% else %>
  <p>No draft set yet. <%= link_to 'Create it now', new_league_draft_path(@league) %></p>
<% end %>

<nav class="btn-group">
  <%= link_to 'Join this league', new_league_team_path(@league), class: 'btn btn-secondary' %>
  <%= link_to 'Enter Draft', league_draft_path(@league), class: 'btn btn-secondary' %>
  <%= link_to 'Setup Draft', setup_draft_league_draft_path(@league), method: 'post', class: 'btn btn-secondary' %>
</nav>

<%= link_to 'Join this league', new_league_team_path(@league), class: 'btn btn-success' %>



<table class="table">
  <tr>
    <th>Team Name</th>
    <th>Team Owner</th>
  </tr>
  <% @teams.each do |team| %>
    <tr>
      <td><%= link_to team.name, team_path(team) %></td>
      <td><%= team.user.name %></td>
    </tr>
  <% end %>
</table>
