<h1>Draft Lobby</h1>

<h2>Draft Begins In<br>
  <span id="time"></span>
</h2>

<%= link_to 'Return to League', @league %>

<h2>Current Team: <%= @draft.current_team.name %></h2>

<% if @draft.present? %>
  <% if @draft.available_picks.empty? %>
    <p>The Draft is Over</p>
  <% else %>
    <p>Your draft begins soon.</p>
  <% end %>
<% else %>
<p>You don't have a draft set up yet.</p>
  <%= link_to 'Build your draft', new_league_draft_path(@league), class: 'btn btn-success' %>
<% end %>

<div class="card-group">
  <% @available_picks.group_by(&:round).each do |round, picks| %>
    <div class="card text-xs-center">
      <div class="card-block">
        <p class="card-text">Round <%= round %></p>
      </div>
    </div>
    <% picks.each do |pick| %>
      <div class="card text-xs-center">
        <div class="card-block">
          <p class="card-text">Pick #<%= pick.pick %></p>
          <p class="card-text"><%= pick.team.name %></p>
        </div>
      </div>
      <% end %>
  <% end %>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Athletes</h2>
    <table class="table table-sm">
      <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Draft</th>
      </tr>
      <% @athletes.each do |athlete| %>
      <tr>
        <td><%= athlete.adp %></td>
        <td><%= athlete.name %></td>
        <td>
          <%= form_for @current_pick, method: :patch do |f| %>
            <%= f.hidden_field :athlete_id, value: athlete.id %>
            <%= f.submit 'make pick' %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
  <div class="col-md-4">
    <h2>Draft Summary</h2>
    <table class="table table-striped">
      <tr>
        <th>Team</th>
        <th>Round</th>
        <th>Pick</th>
        <th>Athlete</th>
      </tr>
      <% @picks.each do |pick| %>
      <tr>
        <td><%= pick.team.name %></td>
        <td><%= pick.round %></td>
        <td><%= pick.pick %></td>
        <td><%= pick.try(:athlete).try(:name) %></td>
      </tr>
      <% end %>
    </table>
  </div>
  <div class="col-md-4">
    <h2>Teams</h2>

    <%= collection_select(:team, :team_id, @league.teams.all, :id, :name, {class: 'bar'}, { class: 'team-toggle', data: {target: '.team-table'} }) %>

    <section class="team-table">
      <% @teams.each do |team| %>
        <table class="table table-striped hide" data-team="team_<%= team.id %>">
          <caption><%= team.name %></caption>
          <tr>
            <th>No.</th>
            <th>Athlete</th>
          </tr>
          <% team.draft_picks.each do |pick| %>
            <tr>
              <td><%= pick.try(:athlete).try(:name) %></td>
              <td>-</td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </section>
  </div>
</div>
