<h1>Draft Lobby</h1>

<% if @draft.present? %>
  <p>Your draft begins soon.</p>
<% else %>
<p>You don't have a draft set up yet.</p>
  <%= link_to 'Build your draft', new_league_draft_path(@league), class: 'btn btn-success' %>
<% end %>

<div class="row">
  <div class="col-md-4">
    <h2>Athletes</h2>
    <table class="table table-striped">
      <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Draft</th>
      </tr>
      <% @athletes.each do |athlete| %>
      <tr>
        <td><%= athlete.adp %></td>
        <td><%= athlete.name %></td>
        <td><%= link_to 'Draft', '#', class: 'btn btn-small btn-success' %></td>
      </tr>
      <% end %>
    </table>
  </div>
  <div class="col-md-4">
    <h2>Draft Order</h2>
    <table class="table table-striped">
      <tr>
        <th>Team</th>
        <th>Round</th>
        <th>Pick</th>
        <th>Athlete</th>
      </tr>
      <% @picks.each do |pick| %>
      <tr>
        <td><%= pick.team.name %></td>
        <td><%= pick.round %></td>
        <td><%= pick.pick %></td>
        <td><%= pick.try(:athlete) %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
